a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
a:hover {
    color: brown;
}
.heading {
    color: rgb(48, 37, 212);
}
.footer-section{
    background-color: white; 
    position: relative;
    border: 0.6px solid black;
}
