.indexpage {
    position: relative;
    height: 88vh;
    margin: auto ;
}
h1{
    padding: 10px;
    margin: 20px;
}
p{
    margin: 10px;
    padding: 20px;
}
li {
    padding-bottom: 2px;
    list-style: none;
}
h3{
    font-weight: 700;
    padding:10px;
    margin: 20px;
}
strong {
    margin-right: 10px;
}

.text-muted {
    padding: 10px;
    margin: 20px;
}
